* {
  width: auto;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

#enjoy_style {
  color: aqua;
}

.row {
  background-color: #33b5e5;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}

button {
  /* width: 100px; */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button.upvote {
 background-color: greenyellow;
 margin-right: 5px;
}

button.remove {
  margin-left: 15px;
  margin-bottom: 5px;

}

.votes {
  font-weight: bold;
}

.singleArticle {
  width: 100%;
  text-align: left;
  padding: 15px;
  margin: 20px 25px 25px 10px;
    height: 120px;
}

.button-container {
  display: flex;
}

.button-container {
gap: 10%;
}

.decrease {
  background-color: red;
  margin-right: 5px;
}

.author {
  font-weight: 600;

}

.singleComment {
  border: 4px dotted blue;
  border-width: thin;
  font-size: small;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


p {
  width: 80%;
}

.block {

  width: 15%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color:#ffffff;
display: inline-block;
position: relative;
left: 100%;
font-weight: bolder;
transform: translateX(-100%);
border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.block_order_by{
  width: 15%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color:#ffffff;
display: inline-block;
position: relative;
font-weight: bolder;
transform: translateX(-100%);
border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 */